@{
    ViewData["Title"] = "ListCart";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        padding: 10px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".updateCart").click(function (event) {
            event.preventDefault();
            var quantity = $(".quantity_" + $(this).attr("data-id")).val();
            console.log(quantity);
            $.ajax({
                type: "POST",
                url: "@Url.Action("updateCart","Home")",
                data: {
                    id: $(this).attr("data-id"),
                    quantity: quantity
                },
                success: function (result) {
                    window.location.href = '@Url.Action("ListCart","Home")';
                }
            });
        });
    });
</script>
<div class="list-cart">
    <table class="cart table table-hover table-success" border="1">
        <tr>
            <th>STT</th>
            <th>Book Name</th>
            <th>Book Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @{
            int STT = 0;
            foreach (var item in ViewBag.carts)
            {
                string txt_class = "quantity_" + item.Book.Id;
                STT++;
                decimal total = item.Book.Price * item.Quantity;
                <tr>
                    <td>@STT</td>
                    <td>@item.Book.BookName</td>
                    <td><img src="@item.Book.UrlImage" width="100" height="100" /></td>
                    <td><input type="number" class="@txt_class" value="@item.Quantity" min="1" max="100" /></td>
                    <td>@item.Book.Price</td>
                    <td>@total</td>
                    <td><a data-id="@item.Book.Id" class="updateCart btn btn-warning" style="color: black ; text-decoration: none">Update</a></td>
                    <td><a asp-controller="Home" class="btn btn-danger" asp-action="deleteCart" asp-route-id="@item.Book.Id" style="color: black ; text-decoration: none">Delete</a></td>
                </tr>
            }
        }
    </table>
    <div>
        <a asp-controller="Home" asp-action="CheckOut" class="btn btn-success">Order Now</a>
    </div>
</div>



